.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;
    gap: 10px;
    height: 100vh;
    width: 100vw;
}

.content{
    gap:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    box-shadow: 0 1px 2px #0003;
    background-color: white;
    max-width:350px;
    padding: 20px;
    border-radius: 5px;
}

.errorLogin{
    color: tomato !important;
    font-size: 0.8em;
    display: inline-block;
    align-self: flex-start;
}

.buttonLink{
    padding: 0px;
    width: auto;
    background-color: transparent !important;
    color: #3D423B;
    display: inline-block;
    font-weight: 600;
    border:none!important;
    cursor: pointer;
}

input {
   max-width: 350px;   
   outline: none;
   width:100%;
   border-radius: 5px;
   font-size: 16px;
   padding: 10px;

   background-color: #f0f2f5;
   border: none;
}

@media only screen and (max-width: 768px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column !important;
        gap: 10px;
        height: 100vh;
        width: 100vw;
    }
}